<!DOCTYPE html>
<html>

<head>
    <title>Case Investigation</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">

    <h2>Case Investigation</h2>

    {% if complaints %}

        {% for complaint in complaints %}

        <div class="complaint-card">

            <h3>
                Complaint ID:
                {{ complaint["complaint_id"] }}
            </h3>

            <p>
                <strong>Citizen:</strong>
                {{ complaint["citizen_name"] }}
            </p>

            <p>
                <strong>Crime Type:</strong>
                {{ complaint["crime_type"] }}
            </p>

            <p>
                <strong>Location:</strong>
                {{ complaint["location"] }}
            </p>

            <p>
                <strong>Status:</strong>
                {{ complaint["status"] }}
            </p>

            {% if complaint["police_remark"] %}

            <p>
                <strong>Police Remark:</strong>
                {{ complaint["police_remark"] }}
            </p>

            {% endif %}

            <p>
                <strong>Last Updated:</strong>
                {{ complaint["reviewed_at"] }}
            </p>

            <a href="{{ url_for(
                'update_complaint',
                complaint_id=complaint['complaint_id']
            ) }}">

                <button type="button">
                    Update Investigation
                </button>

            </a>

        </div>

        <hr>

        {% endfor %}

    {% else %}

        <p>No cases under investigation.</p>

    {% endif %}

    <br>

    <a href="{{ url_for('police_dashboard') }}">
        ← Back to Police Dashboard
    </a>

</div>

</body>
</html>