<!DOCTYPE html>
<html>

<head>

    <title>Citizen Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

    <h2>Crime Reporting System</h2>

    <a href="{{ url_for('logout') }}"
       class="logout-button">

        Logout

    </a>

</header>


<div class="dashboard-page">


    <h1>Citizen Dashboard</h1>


    <h3>
        Welcome, {{ name }}
    </h3>


    <div class="dashboard-container">


        <!-- REPORT CRIME -->

        <div class="dashboard-card">

            <h2>Report Crime</h2>

            <p>
                Register a new crime complaint.
            </p>

            <a href="{{ url_for('report_crime') }}"
               class="dashboard-button">

                Report Crime

            </a>

        </div>


        <!-- MY COMPLAINTS -->

        <div class="dashboard-card">

            <h2>My Complaints</h2>

            <p>
                View your submitted complaints.
            </p>

            <a href="{{ url_for('my_complaints') }}"
               class="dashboard-button">

                View Complaints

            </a>

        </div>


        <!-- TRACK COMPLAINT -->

        <div class="dashboard-card">

            <h2>Track Complaint</h2>

            <p>
                Check the current status of your complaint.
            </p>

            <a href="{{ url_for('track_complaint') }}"
               class="dashboard-button">

                Track Status

            </a>

        </div>


        <!-- NOTIFICATIONS -->

        <div class="dashboard-card">

            <h2>Notifications</h2>

            <p>
                View case updates and notifications.
            </p>

            <a href="{{ url_for('notifications') }}"
               class="dashboard-button">

                Notifications

            </a>

        </div>


    </div>


</div>


</body>

</html>