<!DOCTYPE html>

<html>

<head>

    <title>Crime Reporting System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <div class="home-container">

        <h1>Crime Reporting System</h1>

        <p>
            Welcome to the Crime Reporting System
        </p>

        <p>
            Report crimes, track complaints and manage cases
            through a secure system.
        </p>

        <div class="home-buttons">

            <a href="/login" class="button">
                Login
            </a>

            <a href="/register" class="button">
                Register
            </a>

        </div>

    </div>

</body>

</html>