<!DOCTYPE html>
<html>

<head>

    <title>Police Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

    <h2>Crime Reporting System</h2>

    <a href="{{ url_for('logout') }}"
       class="logout-button">

        Logout

    </a>

</header>


<div class="dashboard-page">

    <h1>Police Dashboard</h1>

    <h3>
        Welcome, {{ name }}
    </h3>


    <div class="dashboard-container">


        <div class="dashboard-card">

            <h2>New Complaints</h2>

            <p>
                View complaints submitted by citizens.
            </p>

            <a href="{{ url_for('police_complaints') }}"
               class="dashboard-button">

                View Complaints

            </a>

        </div>


        <div class="dashboard-card">

            <h2>Assigned Cases</h2>

            <p>
                View and manage assigned cases.
            </p>

            <a href="{{ url_for('police_complaints') }}"
               class="dashboard-button">

                View Cases

            </a>

        </div>


        <div class="dashboard-card">

            <h2>Case Investigation</h2>

            <p>
                Update the status of complaints.
            </p>

            <a href="{{ url_for('police_complaints') }}"
               class="dashboard-button">

                Investigation

            </a>

        </div>


    </div>

</div>

</body>

</html>