<!DOCTYPE html>
<html>

<head>

    <title>Report Crime</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="form-container">


    <h2>Report a Crime</h2>


    {% if success %}

        <p class="success">
            {{ success }}
        </p>

    {% endif %}


    <form method="POST">


       <label>Cyber Crime Type</label>

          <select name="crime_type" required>
            <option value="">Select Cyber Crime Type</option>

             <option value="UPI / Online Payment Fraud">
             UPI / Online Payment Fraud
             </option>

             <option value="Credit / Debit Card Fraud">
             Credit / Debit Card Fraud
             </option>

            <option value="Phishing / Fake Website">
            Phishing / Fake Website
            </option>

            <option value="Online Shopping Fraud">
            Online Shopping Fraud
            </option>

            <option value="Social Media Account Hacking">
            Social Media Account Hacking
            </option>

            <option value="Fake Social Media Profile / Impersonation">
            Fake Social Media Profile / Impersonation
            </option>

            <option value="Identity Theft">
            Identity Theft
            </option>

            <option value="Online Job / Loan Fraud">
            Online Job / Loan Fraud
            </option>

            <option value="Cyber Stalking / Online Harassment">
            Cyber Stalking / Online Harassment
            </option>

            <option value="Ransomware / Malware Attack">
            Ransomware / Malware Attack
            </option>
           </select>


        <label>Incident Date</label>

        <input type="date"
               name="incident_date"
               required>


        <label>Location of Incident</label>

        <input type="text"
               name="location"
               placeholder="Enter incident location"
               required>


        <label>Description</label>

        <textarea
            name="description"
            rows="6"
            placeholder="Describe the incident"
            required>
        </textarea>


        <button type="submit">

            Submit Complaint

        </button>


    </form>


    <br>


    <a href="{{ url_for('citizen_dashboard') }}">

        ← Back to Dashboard

    </a>


</div>


</body>

</html>