<!DOCTYPE html>
<html>

<head>
    <title>Update Complaint</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="form-container">

    <h2>Update Complaint</h2>

    <p>
        <strong>Complaint ID:</strong>
        {{ complaint["complaint_id"] }}
    </p>

    <p>
        <strong>Crime Type:</strong>
        {{ complaint["crime_type"] }}
    </p>

    <p>
        <strong>Location:</strong>
        {{ complaint["location"] }}
    </p>

    <hr>

    <form method="POST">

        <label>Update Status</label>

        <select name="status" required>

            <option value="Assigned"
                {% if complaint["status"] == "Assigned" %}
                selected
                {% endif %}>
                Assigned
            </option>

            <option value="Under Investigation"
                {% if complaint["status"] == "Under Investigation" %}
                selected
                {% endif %}>
                Under Investigation
            </option>

            <option value="FIR Registered"
                {% if complaint["status"] == "FIR Registered" %}
                selected
                {% endif %}>
                FIR Registered
            </option>

            <option value="Resolved"
                {% if complaint["status"] == "Resolved" %}
                selected
                {% endif %}>
                Resolved
            </option>

            <option value="Closed"
                {% if complaint["status"] == "Closed" %}
                selected
                {% endif %}>
                Closed
            </option>

            <option value="No FIR / Closed"
                {% if complaint["status"] == "No FIR / Closed" %}
                selected
                {% endif %}>
                No FIR / Closed
            </option>

            <option value="Referred"
                {% if complaint["status"] == "Referred" %}
                selected
                {% endif %}>
                Referred
            </option>

        </select>

        <br><br>

        <label>Police Remark</label>

        <textarea name="police_remark"
                  rows="5"
                  placeholder="Enter investigation/update remark...">{{ complaint["police_remark"] or "" }}</textarea>

        <br><br>

        <button type="submit">
            Update Status
        </button>

    </form>

    <br>

    <a href="{{ url_for('assigned_cases') }}">
        ← Back to Assigned Cases
    </a>

</div>

</body>
</html>